<main class="contenedor contenedor-formularios no-padding">
    <h1><%=title%></h1>
    <form action="/editar-grupo/<%=grupo.id%>" class="default-form" method="POST" >
        <div class="campo">
            <label for="nombre">Nombre del grupo</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nuevo Grupo" value="<%=grupo.nombre%>" />
        </div>
        <h2>Descripción del Grupo</h2>
        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion" value="<%=grupo.descripcion%>">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label for="categoria">Categoría</label>
            <select name="categoria" id="categoria">
                <option value="" disabled="disabled" selected>-- SELECCIONA --</option>
                <% if(categoria.length) { %>
                <% categoria.map(cat =>  {%>
                    <option 
                    value="<%=cat.id%>"
                    <%= (grupo.categoriumId === cat.id ) ? 'selected' : '' %>
                    ><%=cat.nombre%></option>
                <% }) %>
                <% } %>
            </select>
        </div>
        <div class="campo">
            <label for="url">Sitio Web</label>
            <input type="url" name="url" id="url" placeholder="Sitio Web" value="<%=grupo.url%>" />
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-azul" value="Guardar Grupo" />
        </div>
    </form>
</main>
